.myNewStyle {
    font-weight: bold;
    color: red;
    text-align: center;
}

body {
  background: rgb(46, 46, 46);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}



td {
  box-shadow: 0px 0px 1px 0px #ffffff;
}